# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
*.env
notes/
tests/sample_data/generate